<p-table #coursesTable [value]="course" styleClass="p-datatable-customers"
    [rows]="5" [rowsPerPageOptions]="[5, 10, 25]" [loading]="loading"
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0" [globalFilterFields]="['id', 'dateCreation', 'title', 'activeSessions']"
>
  <ng-template pTemplate="caption">
    <div class="table-header">
      <h1>Liste des formations</h1>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th pSortableColumn="id">Id<p-sortIcon field="id"></p-sortIcon></th>
      <th pSortableColumn="creationDate">Date de création<p-sortIcon field="creationDate"></p-sortIcon></th>
      <th pSortableColumn="title">Titre<p-sortIcon field="title"></p-sortIcon></th>
      <th pSortableColumn="activeSessionsNumber">Nombre de sessions actives<p-sortIcon field="activeSessionsNumber"></p-sortIcon></th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-course>
    <tr class="flex align-items-center justify-content-center">
      <td>
        <span class="p-column-title">Id</span>
        {{course.id}}
      </td>
      <td>
        <span class="p-column-title">Date de création</span>
        {{course.creationDate}}
      </td>
      <td>
        <span class="p-column-title">Titre</span>
        {{course.title}}
      </td>
      <td>
        <span class="p-column-title">Nombre de sessions actives</span>
        {{course.activeSessionsNumber}}
      </td>
      <td>
        <span class="p-buttonset">
          <button pButton pRipple label="Démarrer" icon="pi pi-play"></button>
          <button pButton pRipple label="Préparer" icon="pi pi-desktop"></button>
          <button pButton pRipple label="Modifier" icon="pi pi-sliders-h"></button>
        </span>
      </td>
    </tr>
  </ng-template>
</p-table>
