<form [formGroup]="createTrainingForm">

  <div class="card" *ngIf="editable; then editable_content; else data_entry_content"></div>

  <ng-template #editable_content>
    <div class="grid">
      <!-- INPUTS -->

      <!-- Title input -->
      <div class="col-12">
        <cvgamify-data-input [formName]="createTrainingForm" [inputInfo]="inputTitleInfo"
          inputLabel="Titre de la formation" errorMessage="Titre non valide" aria-describedby="titleHelp" [inputIsInvalidAndTouched]="titleInvalid">
        </cvgamify-data-input>
      </div>
    
      <!-- Subtitle input -->
      <div class="col-12">
        <cvgamify-data-input [formName]="createTrainingForm" [inputInfo]="inputSubtitleInfo"
          inputLabel="Sous-titre de la formation"  errorMessage="Sous-titre non valide" [inputIsInvalidAndTouched]="subtitleInvalid">
        </cvgamify-data-input>
      </div>
    
      <!-- EDITOR -->
      <div class="col-12">
        <h2>
          Description de la formation et de son contenu : 
        </h2>
      </div>
      <div id="descriptionEditor" class="col-12" (blur)="onBlurEvent($event)" >
        <cvgamify-data-editor [formName]="createTrainingForm" [placeholder]="editorPlaceholder" [editorInfo]="editorInfo" [inputIsInvalidAndTouched]="eitorIsInvalid">
        </cvgamify-data-editor>
      </div>

      <!-- BUTTONS -->
      <div class="col-12">
        <div class="grid justify-content-end">  
          <p-button class="flex align-items-center justify-content-center" label="Annuler" (click)="cancel()"></p-button>
          <p-button class="flex align-items-center justify-content-center" type="submit" label="Valider" (onClick)="createCourse()" [disabled]='!createTrainingForm.valid'></p-button>
        </div>
      </div>

    </div>
  </ng-template>

  <ng-template #data_entry_content>
    <div class="grid">
      <!-- Content -->
      <div class="col-12">
        <h1>{{ title }}</h1>
      </div>
      <div class="col-12">
        <h2>{{ subtitle }}</h2>
      </div>
      <div class="col-12">
        <div class="description" [innerHTML]="safeDescription"></div>
      </div>
      <!-- Buttons -->
      <div class="col-12">
        <div class="grid justify-content-end">  
          <p-button class="flex align-items-center justify-content-center" label="Editer" (click)="edit()"></p-button>
        </div>
      </div>
    </div>
  </ng-template>

</form>
