<h1>Student roadmap</h1>
<div *ngIf="game; else elseBlock">
    <phaser-game [gameUpdateSubject]="gameUpdateSubject" [type]="'random'" [direction]="'right'" [width]="1000" [height]="500"></phaser-game>
</div>
<ng-template #elseBlock>
    <h1 id="title ">Loading roadmap...</h1>
</ng-template>