<h1>Etat des lieux du jeu</h1>
<ul>
    <li>
        <a [routerLink]="['/student/inventory/road-map/5']">Road map</a>
    </li>
</ul>
<ng-container *ngIf="game$ | async as game">
    <cvgamifie-quest *ngFor="let item of game.quests" [quest]="item"></cvgamifie-quest>
</ng-container>