<h1>Accueil Global</h1>

<ul>
    <li>
        <a [routerLink]="['/se-connecter']">Se connecter</a>
    </li>
    <li>
        <a [routerLink]="['/student/home']">Mon interface</a>
    </li>
    <li>
        <a [routerLink]="['/trainer/home']">Trainers</a>
    </li>
</ul>