<div [formGroup]="formName" class="editorContainer">
        <p-editor [formControlName]="editorInfo" [required]="true">
        </p-editor>
        <small id="titleHelp" class="p-error" *ngIf="inputIsInvalidAndTouched">Erreur</small>
</div>