<div [formGroup]="formName" class="input-group">
  <div class="card">
    <div class="field grid">
      <div class="col-12">
        <span class="p-float-label">
          <input type="text" [id]="inputInfo" pInputText [formControlName]="inputInfo" class="form-control p-mt-5">
          <label [id]="inputInfo">{{inputLabel}}</label>
        </span>
      </div>
      <div class="col-12">
        <small id="titleHelp" class="p-error" *ngIf="inputIsInvalidAndTouched">Error</small>
      </div>
    </div>
  </div>
</div>
