<div *ngIf="game; else elseBlock">
    <h1 id="title">Aventure: {{ game.title }}</h1>
</div>
<ng-template #elseBlock>
    <h1 id="title">Aventure: No adventure running</h1>
</ng-template>

<div class="success" *ngIf='successMessage'>
    <i>{{ successMessage }}</i>
</div>

<div class="error" *ngIf='errorMessage'>
    <i>{{ errorMessage }}</i>
</div>